<div class="text-center">
<h1>実績入力画面</h1>
<p>日付選択後、各項目を入力してください。</p>
<%= render "calendar" %>
</div>
<% sale = Sale.find_by(date:@date,user_id:current_user.id) %>

<% if @date %>
  <div class="date bg-light">
    <%= @date %>
    （<%= @day_of_week[@date.wday] %>）
  </div>
  <% if @inventory_this.present? %>
    <%= form_with url:inventory_path(0),method: :patch,local: true do |f| %>
      <div class="plan_actual">
        <div>
          PLAN SALES：<%= sale.plan %>
        </div>
        <div>
          ACTUAL SALES：<%= f.text_field :actual,value:sale.actual,class:"input_inventory" %>
        </div>
      </div>
      <table>
        <tr>
          <td>品目名</td>
          <% @inventory_this.each do |this| %>
            <td><%= this.item.name %></td>
          <%end%>
        </tr>

        <tr>
          <td>納品数</td>
          <% i = 0 %>
          <% @inventory_this.each do |this| %>
            <td><%= f.text_field "order_#{i}".to_sym,value:this.order,class:"input_inventory" %></td>
            <% i += 1 %>
          <%end%>
        </tr>
      
        <tr>
          <td>使用数</td>
          <% i = 0 %>
          <% @inventory_this.each do |this| %>
            <td><%= f.text_field "use_#{i}".to_sym,value:this.use,class:"input_inventory" %></td>
            <% i += 1 %>
          <%end%>
        </tr>

        <tr>
          <td>在庫数</td>
          <% i = 0 %>
          <% @inventory_this.each do |this| %>
            <td><%= f.text_field "stock_#{i}".to_sym,value:this.stock,class:"input_inventory" %></td>
            <% i += 1 %>
          <%end%>
        </tr>
      </table>
      <%= f.text_field :date, value:@date, class:"hidden" %>
      <div class="text-center mt-4">
       <%= f.submit "　登録　",class:"btn btn-primary btn-lg" %>
      </div>
    <%end%>
  <%else%>
    <%= form_with model:@inventory,local: true do |f| %>
      <table>
        <tr>
          <td>品目名</td>
          <% @items.each do |item| %>
            <td><%= item.name %></td>
          <%end%>
        </tr>

        <tr>
          <td>納品数</td>
          <% i = 0 %>
          <% @items.each do |item| %>
            <td><%= f.text_field "order_#{i}".to_sym,class:"input_inventory" %></td>
            <% i += 1 %>
          <%end%>
        </tr>
      
        <tr>
          <td>使用数</td>
          <% i = 0 %>
          <% @items.each do |item| %>
            <td><%= f.text_field "use_#{i}".to_sym,class:"input_inventory" %></td>
            <% i += 1 %>
          <%end%>
        </tr>

        <tr>
          <td>在庫数</td>
          <% i = 0 %>
          <% @items.each do |item| %>
            <td><%= f.text_field "stock_#{i}".to_sym,class:"input_inventory" %></td>
            <% i += 1 %>
          <%end%>
        </tr>
      </table>
      <%= f.text_field :date, value:@date, class:"hidden" %>
      <div class="text-center mt-4">
       <%= f.submit "　登録　",class:"btn btn-primary btn-lg" %>
      </div>
    <%end%>
  <%end%>
<%end%>