<table>

  <%# 日付、曜日部分 %>
  <tr>
    <td rowspan="2" colspan="2">
    <% if (@starting_point).day != ((@starting_point).day + 14) %>
    <%= (@starting_point).month %>月/<%= (@starting_point).month + 1 %>月
    <%else%>
    <%= (@starting_point).month %>月 
    <%end%>
    </td>
    <% 14.times do |i| %>
      <td><%= (@starting_point + i).day  %></td>
    <%end%>
  </tr>

    <tr>
    <% 14.times do |i| %>
      <% if (@starting_point + i).wday == 0  %>
        <td class="bg-danger"><%= @day_of_week[(@starting_point + i).wday]  %></td>
      <%elsif (@starting_point + i).wday == 6 %>
        <td class="bg-primary"><%= @day_of_week[(@starting_point + i).wday]  %></td>
      <%else%>
        <td><%= @day_of_week[(@starting_point + i).wday]  %></td>
      <%end%>
    <%end%>
  </tr>

  <%# 各品目部分 %>
  <% @items.each do |item| %>
    <%= render partial:"whole",locals:{item:item} %>
  <% end %>

  <%# コメント部分 %>
    <tr>
    <td colspan="2">コメント</td>
    <% 14.times do |i| %>
      <% if @comments %>
        <% array_comments =[] %>
        <% @comments.each do |comment| %>
          <% array_comments << comment.date %>
        <% end %>
        <% if array_comments.include?(@starting_point + i) %>
          <td><i class="far fa-comment-dots comment_btn" data-id=<%= i %> ></i></td>
        <% else %>
          <td><i class="far fa-plus-square comment_btn" data-id=<%= i %> ></i></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>

</table>

<div class="comment" id="comment_wrapper">

  

  <div class="comment_form">
    <%= form_with model:@comment,local: true do |f| %>
      <%= f.text_area :text, placeholder: "コメントする", rows: "2",class:"text_area" %>
      <div>
        <%= f.text_field :date,value:Date.today,class:"hidden" %>
        <%= f.submit "投稿",class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>