<div class="container mt-5">
  <table>

  <tr>
    <td rowspan="2" colspan="2"><%= (@starting_point).month %>月 </td>
    <% 14.times do |i| %>
      <td><%= (@starting_point + i).day  %></td>
    <%end%>
  </tr>

    <tr>
    <% 14.times do |i| %>
      <% if (@starting_point + i).wday == 0  %>
        <td class="bg-danger"><%= @day_of_week[(@starting_point + i).wday]  %></td>
      <%elsif (@starting_point + i).wday == 6 %>
        <td class="bg-primary"><%= @day_of_week[(@starting_point + i).wday]  %></td>
      <%else%>
        <td><%= @day_of_week[(@starting_point + i).wday]  %></td>
      <%end%>
    <%end%>
  </tr>

  <% @items.each do |item| %>
    <%= render partial:"inventory",locals:{item:item} %>
  <% end %>
</table>
</div>