<% this_month = Date.today.since(num.month) %>

<%# その月のレコードが一つもないとき（新規登録時） %>
<% if Sale.where(date:this_month.beginning_of_month..this_month.end_of_month,user_id:current_user.id).present? %>
  <%= form_with url:sale_path(0),method: :patch, local: true do |f| %>
  <%= f.submit "登録",class:"btn btn-primary mb-2" %>

    <table>
    <tr>
      <td ><%= this_month.month %>月</td>
      <td ></td>
      <td >ProductSales</td>
    </tr>
    <% this_month.end_of_month.day.times do |i| %>
      <tr>
        <td><%= i += 1 %></td>
        <% this_day = Date.new(Date.today.since(num.month).year,Date.today.since(num.month).month,i) %>
        <td><%= @day_of_week[this_day.wday] %></td>
        <td>
          <% sale = Sale.find_by(date:this_day,user_id:current_user.id) %>
          <% if sale %>
            <%= f.text_field "plan_#{i}".to_sym,value:sale.plan,class:"input_inventory" %>
          <% else %>
            <%= f.text_field "plan_#{i}".to_sym,class:"input_inventory" %>
          <%end%>
          <%= f.text_field "date_#{i}",class:"hidden",value:Date.new(this_month.year,this_month.month,i) %>
        </td>
      </tr>
    <%end%>
  </table>

  <%end%>
  <%# その月のレコードがあるとき %>
<% else %>
  <%= form_with url:sales_path, local: true do |f| %>
  <%= f.submit "登録",class:"btn btn-primary mb-2" %>

    <table>
    <tr>
      <td ><%= this_month.month %>月</td>
      <td ></td>
      <td >ProductSales</td>
    </tr>
    <% this_month.end_of_month.day.times do |i| %>
      <tr>
        <td><%= i += 1 %></td>
        <% this_day = Date.new(Date.today.since(num.month).year,Date.today.since(num.month).month,i) %>
        <td><%= @day_of_week[this_day.wday] %></td>
        <td>
          <% sale = Sale.find_by(date:this_day,user_id:current_user.id) %>
          <% if sale %>
            <%= f.text_field "plan_#{i}".to_sym,value:sale.plan,class:"input_inventory" %>
          <% else %>
            <%= f.text_field "plan_#{i}".to_sym,class:"input_inventory" %>
          <%end%>
          <%= f.text_field "date_#{i}",class:"hidden",value:Date.new(this_month.year,this_month.month,i) %>
        </td>
      </tr>
    <%end%>
  </table>

  <%end%>
<%end%>