<h1>Sales#edit</h1>
<%= form_with model: @seles, local: true do |f| %>
<%= f.submit "　登録　",class:"btn btn-primary" %>
  <table>

    <tr>
      <td ><%= @this_month.month %>月</td>
      <td ></td>
      <td >ProductSales</td>
    </tr>

    <% i = 0 %>
    <% @sales.collection.each do |sale|%>
      <tr>
        <td><%= i += 1 %></td>
        <td><%= @day_of_week[Date.new(@this_month.year,@this_month.month,i).wday] %></td>
        <%= fields_for 'sales[]', sale do |field| %>
          <td>
            <%= field.text_field :plan,value:Sale.find_by(date:Date.new(@this_month.year,@this_month.month,i)).plan %>
            <%= field.text_field :actual,class:"hidden",value:0 %>
            <%= field.text_field :date,class:"hidden",value:Date.new(@this_month.year,@this_month.month,i) %>
            <%= field.text_field :user_id,class:"hidden",value:current_user.id %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
<%end%>