<h1>Sales#new</h1>
<%= form_with model: @seles, url: sales_path, local: true do |f| %>
<%= f.submit "登録" %>
  <table>

    <tr>
      <td ><%= Date.today.month %>月</td>
      <td ></td>
      <td >ProductSales</td>
    </tr>

    <% i = 0 %>
    <% @sales.collection.each do |sale|%>
      <tr>
        <td><%= i += 1 %></td>
        <td><%= @day_of_week[Date.new(Date.today.year,Date.today.month,i).wday] %></td>
        <%= fields_for 'sales[]', sale do |field| %>
          <td>
            <%= field.text_field :plan %>
            <%= field.text_field :actual,class:"hidden",value:0 %>
            <%= field.text_field :date,class:"hidden",value:Date.new(Date.today.year,Date.today.month,i) %>
            <%= field.text_field :user_id,class:"hidden",value:current_user.id %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
<%end%>